## Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is orgaized and stred in an efficient manner which even allows for us to retrive, update and analyze the data.
DIFFERENCE 

SQL:It is a structured query language which allows to have databases and stores tables in it and that's why it is also known as relational database which is based on relational data model and the connection between tables is established with the help of keys.They are not preffered when the data is semi structured or unstructured.

NOSQL: They are also known as non relational databases because of their ability to handle unstructured and semi structured data effectively.It provides flexibility in data models and use a widw variety of query languages and emphasizes on scalibility and performance.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) used to define and manage the structure of a database and its objects. DDL statements are used to create, modify, and delete database objects such as tables, indexes, views, and schemas. 

CREATE:
The CREATE statement is used to create new database objects, such as tables, views, indexes, or schemas. It specifies the name of the object, its structure, and any constraints associated with it.

CREATE TABLE employees (
  id INT PRIMARY KEY,
  name VARCHAR(100),
  age INT,
  department VARCHAR(50)
);

DROP:
The DROP statement is used to remove an existing database object, such as a table, view, index, or schema. It permanently deletes the object and its associated data from the database.

DROP TABLE employees;

ALTER:
The ALTER statement is used to modify the structure of an existing database object. It allows you to add, modify, or delete columns, constraints, or other properties of the object.

ALTER TABLE employees
ADD COLUMN salary DECIMAL(10,2);


TRUNCATE:
The TRUNCATE statement is used to remove all rows from a table, effectively resetting the table to an empty state. Unlike the DROP statement, TRUNCATE retains the table structure and can be faster than deleting rows one by one.

TRUNCATE TABLE employees;

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) used to manipulate and work with the data stored in a database. DML statements are used to insert, update, and delete data from database tables.

INSERT:
The INSERT statement is used to insert new rows of data into a table. It specifies the table name and the values to be inserted into the respective columns. 

INSERT INTO employees (id, name, age, department)
VALUES (1, 'John Doe', 30, 'IT');

UPDATE:
The UPDATE statement is used to modify existing data in a table. It allows you to update one or more columns of one or multiple rows based on specified conditions. 

UPDATE employees
SET department = 'HR'
WHERE id = 1;

DELETE:
The DELETE statement is used to remove one or more rows from a table based on specified conditions. It permanently removes the data from the table. 

DELETE FROM employees
WHERE id = 1;

## Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) used to retrieve data from a database. DQL statements, primarily the SELECT statement, are used to query the database and retrieve specific information based on specified conditions.

SELECT:
The SELECT statement is used to retrieve data from one or more tables in a database. It allows you to specify the columns to be retrieved, the table(s) to query, and optional conditions to filter the data.

SELECT column1, column2, ...
FROM table_name;


To retrieve all columns, you can use the asterisk (*) wildcard character:

SELECT *
FROM table_name;

SELECT with WHERE Clause:
The WHERE clause is used to specify conditions that filter the rows retrieved by the SELECT statement.

SELECT *
FROM employees
WHERE department = 'IT' AND age > 25;

SELECT with ORDER BY Clause:
The ORDER BY clause is used to sort the retrieved data in ascending or descending order based on one or more columns. 

SELECT *
FROM employees
ORDER BY department ASC, age DESC;

SELECT with LIMIT Clause:
The LIMIT clause is used to limit the number of rows returned by the SELECT statement.

SELECT *
FROM employees
LIMIT 10;

## Q5. Explain Primary Key and Foreign Key.

Primary Key:
A primary key is a column or a combination of columns in a database table that uniquely identifies each row. It ensures that each row in a table has a unique identifier, and no two rows can have the same primary key value. Primary keys have the following characteristics:

Uniqueness: Each value in the primary key column(s) must be unique within the table.
Non-nullability: Primary key values cannot be NULL, meaning they must have a valid value for every row.
Stability: Primary key values should generally remain constant and not change over time.
Primary keys play a vital role in ensuring data integrity and are used to establish relationships with other tables through foreign keys.

Foreign Key:
A foreign key is a column or a combination of columns in a database table that refers to the primary key of another table. It establishes a relationship between two tables, allowing data in one table to reference data in another table. Foreign keys have the following characteristics:
Referential Integrity: Foreign keys enforce referential integrity, ensuring that the values in the foreign key column(s) correspond to existing values in the primary key column(s) of the referenced table.
Relationship: A foreign key establishes a relationship between two tables, indicating that the values in the foreign key column(s) are related to the values in the primary key column(s) of the referenced table.
Cascading Actions: Foreign keys can be configured to perform cascading actions such as cascading deletes or updates. For example, if a row in the referenced table is deleted, the corresponding rows in the table with the foreign key can also be deleted (cascade delete).

Here's an example to illustrate the concept of primary key and foreign key:

Consider two tables, "Orders" and "Customers". The "Orders" table has a foreign key referencing the primary key of the "Customers" table.

Customers Table:
+----+-------------+-----------+
| ID |  Name       |  Address  |
+----+-------------+-----------+
|  1 | John Doe    | 123 Street|
|  2 | Jane Smith  | 456 Avenue|
+----+-------------+-----------+

Orders Table:

+----+-------------+---------+--------+
| ID | OrderNumber |  Amount | CustID |
+----+-------------+---------+--------+
|  1 |   1001      |  $100   |   1    |
|  2 |   1002      |  $200   |   2    |
+----+-------------+---------+--------+
In this example, the "Customers" table has a primary key column "ID", which uniquely identifies each customer. The "Orders" table has a foreign key column "CustID", which references the "ID" column of the "Customers" table. This establishes a relationship between the two tables.

The foreign key constraint ensures that the values in the "CustID" column of the "Orders" table must match the values in the "ID" column of the "Customers" table. This relationship allows you to retrieve orders for a specific customer or perform joins between the two tables to retrieve combined information.

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

pip install mysql-connector-python
import mysql.connector

### Establishing the connection
mydb = mysql.connector.connect(
  host="localhost",
  user="your_username",
  password="your_password",
  database="your_database"
)

### Creating a cursor object
mycursor = mydb.cursor()

### Executing a query
mycursor.execute("SELECT * FROM your_table")

### Fetching the results
results = mycursor.fetchall()

### Displaying the results
for row in results:
    print(row)

### Closing the cursor and connection
mycursor.close()
mydb.close()

The cursor() method creates a cursor object to interact with the database, and the execute() method is used to execute SQL queries or statements. The cursor object enables you to fetch and manipulate data from the database.

## Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query typically follows the following sequence:

FROM clause: Specifies the table(s) from which the data will be retrieved.

WHERE clause: Filters the rows based on specified conditions. Rows that satisfy the conditions in the WHERE clause are included in the result set.

GROUP BY clause: Groups the rows into sets based on specified columns. This clause is typically used in combination with aggregate functions like COUNT, SUM, AVG, etc.

HAVING clause: Filters the grouped rows based on specified conditions. It is similar to the WHERE clause but is applied after the GROUP BY clause.

SELECT clause: Specifies the columns to be included in the result set. This clause can include column aliases, calculations, or expressions.

ORDER BY clause: Sorts the result set based on specified columns in ascending or descending order.

LIMIT/OFFSET clause: Limits the number of rows returned by the query or specifies the starting position of the result set.